@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
Header
{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed ;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;


}


.logo
{
    text-decoration: none;
    font-size: large;
    color:darkcyan;
    font-size: 1.8em;
    font-weight: 700 bolder;
    text-transform: capitalize;



}

.navigation a
{   
    text-decoration: none;
    font-size: large;
    color:darkcyan;
    font-size: 1.1em;
    font-weight: 500 bold;
    text-transform: capitalize;
    padding-left: 50px;

}

.navigation a:hover
{
    color:black;
}


section
{
    padding: 50px 50px;
}
 .main
 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items:center;
    background: url(images/sco3.jpg) no-repeat  ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

 .main h2
 {
    color:rgb(0, 0, 0);
    font-size: 1.4em;
    font-weight: 500 bold;
 }
 .main h2 span
 {
    color: darkcyan;
    display: inline-block;
    margin-top: 10px;
    font-size: 2em;
    font-weight: 600;
 }

.main h3 
 {
    color: black;
    size: 2.5em;
    font-weight: 500 bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
 }

.main-btn
{
    color: #f0f0f0;
    background-color:darkcyan;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600 ;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;

}

.main-btn:hover
{
    background-color:aqua;
    transform: scale(1.1);

}

.social-icons a
{
    color:black;
    font-size:2em ;
    padding-right: 20px;
}

.tittle
{
    display: flex;
    color: darkcyan;
    justify-content: center;
    font-size: 2.2em;
    margin-bottom: 100px;
    font-weight: 500 bold;
    margin-top: 20px;
}

.content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card
{
    background-color:#f0f0f0;
    width: 21.25em;
    box-shadow: 0 10xp 25px rgba(1 1 1/ 100%);
    border-radius: 15px;
    padding: 25px;
    margin: 10px;
}

.card:hover
{
    transform: scale(1.1);
    transition: 0.7s ease;
    background-color:antiquewhite ;
}

.icon
{
    color:darkcyan;
    font-size: 5em;
    text-align: center;
}
.info
{
    text-align: center;
}

.info h3
{
    color:darkcyan;
    text-align:center;
    font-size: 1.6em;
}

.projects
{
    background-color: black;
}    

.projects .content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;

}

.projects-card
{
    background-color: #f0f0f0;
    border-radius: 10px;
    border: #f0f0f0 solid 1px;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s ease;

}
.projects-card:hover
{
    transform: scale(1.1);  
}

.projects-card:hover .projects-image
{
      opacity: 0.9;
}

.projects-image img
{
    width: 100%;
}

.projects-category
{
    color:black ;
    margin-left: 10px;
    font-size: 0.8em;
    text-decoration: none;
}
.projects-tittle
{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px;   
}

.more-details
{
    text-decoration: none;
}
.more-details:hover
{
    color:grey;
}

.contect-card
{
    background-color: #f0f0f0;
    border-radius: 10px;
    border: #f0f0f0 solid 1px;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s ease;
    justify-content: center ;
}
.contect-card:hover
{
    transform: scale(1.1);
    
}

.footer
{
    background-color: black;
    color: #f0f0f0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-tittle
{
    font-size: 1.3em;
    font-weight: 600;

}

.footer-tittle span
{
    color: darkcyan;
}

.footer-tittle span:hover
{
    color:aquamarine;
    transition:0.5s ease;
}

.footer .social-icons a
{
    color: #f0f0f0;
    font-size: 1.4em;
    padding: 0 14px 0 0;
}
@media (max-width : 1037px)
{
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .tittle{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items:center;

    }
}
@media (max-width:641px)
{
    body{
        font-size: 14px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}
@media (max-width:300px)
{
    body{
        font-size: 10px;
    }
}
